<%= render partial: "shared/header" %>
<ul class="unique">
  <% @users.each do |user| %>
  <li>
  <a href=<%= "users/"+user.id.to_s %> class="-a">
    <%= render partial: "user", object: user %>
    </a>
  </li>
  <% end %>
</ul>