	<header class="header">
		<h1 class="logo"><a href="#">Blog</a></h1>
      <ul class="main-nav">
          <li><a href="/new_post">New Post</a></li>
          <li><a href="#">Logout</a></li>
      </ul>
	</header> 
