	<header class="header">
		<h1 class="logo"><a href="/">Blog</a></h1>
      <ul class="main-nav">
          <li><a href="/new_post">New Post</a></li>
          <li><a href= <%= (request.base_url) +"/users/" +@current_user.id.to_s %>>My Profile</a></li>
          <li><a>Logout</a></li>
      </ul>
	</header> 
