<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Post List</title>
</head>
<body>
      <div id="user-main" class="user-container">
        <div id="user-main-pfp" class= "user-pfp">
        profile-pic
        </div>
      <h1 id="user-main-name" class="user-name">Name</h1>
      <h4 id="user-main-pq" class="user-pq">number of posts x</h4>
    </div>
    <div class="whole-post" id="whole-post-1">
        <a href="1">
    <div id="post-1" class="post-container">
      <h2 id="post-1-name" class="post-name">Title 1</h2>
      <p id="post-1-summary">
      Lorem ipsum dolor sit amet
      </p> 
      <h4 id="post-1-lk" class="post-lk">comments x, likes y</h4>
    </div>
    </a>
    <ul class="comment-section" id="comment-section-1">
    <li>
      <div>
        <h5 class="commenter" id="commenter-1-1">username</h5>
        <p class="comment" id="comment-1-1">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-1-2">username</h5>
        <p class="comment" id="comment-1-2">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-1-3">username</h5>
        <p class="comment" id="comment-1-3">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-1-4">username</h5>
        <p class="comment" id="comment-1-4">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-1-5">username</h5>
        <p class="comment" id="comment-1-5">comment </p>
        </div>
    </li>
    </ul>
    </div>
        <div class="whole-post" id="whole-post-2">
        <a href="2">
    <div id="post-2" class="post-container">
      <h2 id="post-2-name" class="post-name">Title 2</h2>
      <p id="post-2-summary">
      Lorem ipsum dolor sit amet
      </p> 
      <h4 id="post-2-lk" class="post-lk">comments x, likes y</h4>
    </div>
    </a>
    <ul class="comment-section" id="comment-section-1">
    <li>
      <div>
        <h5 class="commenter" id="commenter-2-1">username</h5>
        <p class="comment" id="comment-2-1">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-2-2">username</h5>
        <p class="comment" id="comment-2-2">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-2-3">username</h5>
        <p class="comment" id="comment-2-3">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-2-4">username</h5>
        <p class="comment" id="comment-2-4">comment </p>
      </div>
      </li>
      <li>
            <div>
        <h5 class="commenter" id="commenter-2-5">username</h5>
        <p class="comment" id="comment-2-5">comment </p>
        </div>
    </li>
    </ul>
    </div>
</body>
</html>