// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  text-decoration: none;
  color: black;
}

.post-container {
  background-color: gray;
  margin-top: 50px;
  height: 150px;
  padding: 20px 20px;
}

.post-lk {
  margin-left: 82.5%;
}

.post {
  background-color: gray;
  min-height: 350px;
  padding: 20px 20px;
  margin-top: 30px;
}

.comment-form {
  background-color: orange;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
}

.comment-form > * {
  height: 25%;
  margin-top: 35px;
  margin-left: 20px;
}

.do-comment {
  display: inline;
  margin-left: 40px;
  margin-top: 40px;
}

.submit {
  height: 30px;
  background-color: green;
  border: none;
  color: black;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}
