// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  text-decoration: none;
  color: black;
}

.user-container {
  background-color: darkgrey;
  display: flex;
  margin-top: 50px;
  height: 150px;
}

.user-pq {
  margin-top: 120px;
}

.user-pfp {
  width: 25%;
}

.user-name {
  margin-top: 62.5px;
  width: 50%;
}

.user-pq {
  width: 25%;
}

.panel {
  width: 50%;
  height: 60%;
  margin-left: 15%;
  margin-top: 10%;
}

.profile-picture {
  width: 100%;
  height: 100%;
}

.bio-section {
  margin-top: 20px;
  background-color: lightblue;
  margin-bottom: 20px;
  height: 200px;
}
